.info-display-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.v-expansion-panel::before {
    box-shadow: none;
}

.text-field {
    padding-right: 20px;
}

.text-field-and-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit-button {
    margin-top: 2px;
    font-weight: bold;
}