@font-face {
  font-family: 'NotoSans-thin';
  src: url('../font/NotoSans/NotoSansJP-Thin.otf') format("opentype");

  font-family: 'Rampart-regular';
  src: url('../font/Rampart/RampartOne-Regular.ttf') format("truetype");
}